<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>StockManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletUser</display-name>
    <servlet-name>ServletUser</servlet-name>
    <servlet-class>com.UserReg.ServletUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUser</servlet-name>
    <url-pattern>/ServletUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.UserReg.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet</display-name>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>com.UserReg.StockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/StockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet2</display-name>
    <servlet-name>StockServlet2</servlet-name>
    <servlet-class>com.UserReg.StockServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet2</servlet-name>
    <url-pattern>/StockServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet3</display-name>
    <servlet-name>StockServlet3</servlet-name>
    <servlet-class>com.UserReg.StockServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet3</servlet-name>
    <url-pattern>/StockServlet3</url-pattern>
  </servlet-mapping>
 
</web-app>